.paginationWrapper {
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px 40px;
    background-color: #f5f6f6;
    font-weight: 700;
}

.paginationWrapper button {
    font-weight: 700;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #f5f6f6;
    cursor: pointer;
    outline: none;
}

.paginationWrapper button.active {
    background-color: rgb(215, 236, 246);
}